/* ===== HERO CONTACTO ===== */
.hero-contacto {
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1552566626-52f8b828add9');
  background-size: cover;
  background-position: center;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-contacto .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
}

.hero-contacto .hero-content {
  position: relative;
  text-align: center;
  z-index: 2;
}

.hero-contacto h1 {
  font-size: 2.5rem;
  color: var(--dorado);
  margin-bottom: 10px;
}

.hero-contacto p {
  font-size: 1.1rem;
}

/* ===== INFORMACIÓN DE CONTACTO ===== */
.info-contacto {
  padding: 60px 10%;
  background-color: var(--crema);
  text-align: center;
}

.info-contacto h2 {
  color: var(--rojo);
  margin-bottom: 40px;
}

.info-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
}

.info-grid .columna {
  flex: 1 1 400px;
}

.info-grid .izquierda ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.info-grid .izquierda li {
  margin-bottom: 15px;
  font-size: 1rem;
  color: var(--texto);
}

.info-grid iframe {
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

/* ===== FORMULARIO ===== */
.formulario-contacto {
  padding: 70px 10%;
  text-align: center;
}

.formulario-contacto h2 {
  color: var(--rojo);
  margin-bottom: 40px;
}

#form-contacto {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.campo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.campo select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  background-color: white;
  transition: border-color 0.3s;
}

.campo select:focus {
  outline: none;
  border-color: var(--rojo);
}

.campo label {
  margin-bottom: 8px;
  font-weight: 600;
  color: var(--texto);
}

.campo input,
.campo textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.campo input:focus,
.campo textarea:focus {
  outline: none;
  border-color: var(--rojo);
}

.btn-enviar {
  background-color: var(--rojo);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

.btn-enviar:hover {
  background-color: var(--dorado);
  color: var(--rojo);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 425px) {
  .info-contacto {
    padding: 20px;
  }
  
  .info-grid {
    flex-direction: column;
    align-items: center;
  }

  .info-grid .columna {
    flex: 100px;

  }

  .formulario-contacto {
    padding: 20px 10%;
  }

  #form-contacto {
    width: 100%;
  }

  .hero-contacto h1 {
    font-size: 2rem;
  }
}
